In [6]:
for i in range(1,6) :
    for j in range(1,i+1) :
        print(j,end="")
        
    print()

1
12
123
1234
12345

In [9]:
for i in range(1,6) :
    b = i * (str(i) + " ")
    print(b)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [18]:
a = 5
for i in range(1,6) :
    b = str(i) * a
    a = a-1
    print(b)

11111
2222
333
44
5

In [21]:
a = 5
for i in range(1,6) :
    b = "5" * a
    a = a-1
    print(b)

55555
5555
555
55
5

In [27]:
for i in range(5,0,-1) :
    a = ""
    for j in range(0,i+1) :
        a += str(j)
        
    print(a)

012345
01234
0123
012
01

In [63]:
a= ""
b = 1
for i in range(1,10) :
    if (i%2)!=0 :
        a = str(i) * b
        b += 1
        print(a)

1
33
555
7777
99999

In [66]:
b = 5
for i in range(5,0,-1) :
    a = str(i) * b
    b = b-1
    print(a)

55555
4444
333
22
1

In [69]:
for i in range(1,6) :
    a = ""
    for j in range(i,0,-1) :
        a += str(j)
    print(a)

1
21
321
4321
54321

In [74]:
for i in range(5,0,-1) :
    a = ""
    for j in range(i,0,-1) :
        a += str(j)
    print(a)

54321
4321
321
21
1

In [4]:
a = 0
for i in range(0,4) :
    s = ""
    for j in range(i+1) :
        a += 1
        s = str(a) + " " + s
    print(s)

1
3 2
6 5 4
10 9 8 7

In [1]:
b = 3
c = 0
print(" " * (4) + "*")
for i in range(1,5) :
    left_spaces = " " * (b)
    middle_spaces = " " * (c)
    x = left_spaces + "* " + middle_spaces + "* "
    b = b - 1
    c += 2
    print(x)

n = 4
for i in range(1,4) :
    left_spaces = " " * i
    middle_spaces = " " * n
    z = left_spaces + "* " + middle_spaces + "* "
    n = n - 2
    print(z)
    
print(" " * (4) + "*")

    *
   * *
  *   *
 *     *
*       *
 *     *
  *   *
   * *
    *

In [2]:
b = ""
c = 6

for i in range(0,6) :
    spaces = " "*i
    b = (spaces + ("* " *c))
    c = c - 1
    print(b)

* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [1]:
for i in range(1,6) :
    print("* " * i)

*
* *
* * *
* * * *
* * * * *

In [3]:
x = 8
for i in range(1,6) :
    y = " " * x
    stars = "* " * i
    print(y + stars)
    x = x - 2

        *
      * *
    * * *
  * * * *
* * * * *

In [5]:
for i in range(5,0,-1) :
    print("* " * i)

* * * * *
* * * *
* * *
* *
*

In [6]:
x = 0
for i in range(5,0,-1) :
    y = " " * x
    stars = "* " * i
    print(y + stars)
    x = x + 2

* * * * *
  * * * *
    * * *
      * *
        *

In [7]:
x = 6
for i in range(1,8) :
    y = " " * x
    stars = "* " *i
    print(y + stars)
    x= x - 1

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

In [11]:
for i in range(1,6) :
    print("* " * i)
for i in range(1,2) :
    print(" " * 5)
for i in range(5,0,-1) :
    print("* " * i)

*
* *
* * *
* * * *
* * * * *

* * * * *
* * * *
* * *
* *
*

In [14]:
for i in range(1,6) :
    print("* " * i)

for i in range(4,0,-1) :
    print("* " * i)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [16]:
x = 8
for i in range(1,6) :
    y = " " * x
    stars = "* " * i
    print(y + stars)
    x = x - 2
    
x = 2
for i in range(4,0,-1) :
    y = " " * x
    stars = "* " * i
    print(y + stars)
    x = x + 2

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [20]:
b = ""
c = 6

for i in range(0,6) :
    spaces = " "*i
    b = (spaces + ("* " *c))
    c = c - 1
    print(b)
    
x = 5
for i in range(1,7) :
    y = " " * x
    stars = "* " *i
    print(y + stars)
    x= x - 1

* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *
     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *